* {
  font-family: 'Sora', sans-serif;
  padding: 5px;
  box-sizing: border-box;
  margin: none;
  margin-block-end: 0;
  margin-block-start: 0;
}
.production-card h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.border {
  border: .5px solid lightblue;
}
.title-marquee {
  font-size: 200px;
}

.vertical {
  display: flex;
  flex-direction: column;

}
.horizontal {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comment-card {
  flex-grow: 3;
}







.box {
  width: 100px;
  height: 50px;
  background-color: green;
  position: fixed;

  top: 5em;
  left: 1em;
}

.box.otherPosition {
  left: 10em;
}

.label.otherPosition {
  margin-top: 2em;
}
